.tdInputProduct {
	text-align: right;
	width: 130px;
}

.carrito{
    padding: 10px 25px 0px 20px;
}

div.posicionadorHorizontal {
    width: 250px;
    float:right;
    margin: 20px;
    right:0;
    margin-right: 4%;
    position:relative;
}

div.positioner {position: absolute; right: 0;}

div.posicionadorVertical {
}

#divCarrito{
    padding: 24px 3%;
    border: 1px solid #B3A633;
    webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-image: url(../img/barra-tupedido.png);
    background-repeat: no-repeat;

    position: relative;
    display:none;
}




#tituloCarrito {
    background-color: #b3a633;
    color: #FFFFFF;
    text-align:center;
    align-items: center;
    text-align:center;
    display: flex;
    height: 70px;
    font-size: 25px;
}

#divCarrito button, #divCarrito input, #divCarrito select, #divCarrito textarea {
    margin:5px;
}

#divCarrito input{
    font-size: 15px;
}

#divCarrito .cant{
    width: 60px;
}

#divCarrito label{
    font-size: 15px !important;
    margin-top: 10px;
}

#divLogin {
    padding-left: .9375rem;
    padding-right: .9375rem;
    padding-bottom: 1rem;
}

#divLogin a {
    color: #b3a633;
}

#divLogin a:hover {
    text-decoration: underline;
}

#btnLogin {
    display:inline;
    margin: 0px !important;
    background-color: #fff;
    color: #b3a633;
    font-size: 1rem !important;
}

#btnLogin:hover {
    text-decoration: underline;
}

.modalForm {
    line-height: 40px;
} 


.errorMessage {
    color: #fa973c;
}

.errorMessage > p {
    color: #fa973c !important;
}

.boton-confirmar {
    background-color: #b3a633;
    color: #fff;
}

.boton-confirmar:hover {
    background-color: #857916;
}


.tdRight{
    text-align: right;
}

.form-control{
    line-height: 0.5 !important;
}